<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="index.html">
                        <img src="/images/icon/herren_logo.png" alt="HerrenLogo"
                             width="50px" height="50px"/>
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a href="/boards/anony/">
                            <i class="fas fa-users"></i>익명 게시판</a>
                    </li>
                    <li>
                        <a href="/boards/notice/">
                            <i class="fas fa-bullhorn"></i>공지 게시판</a>
                    </li>
                    <li>
                        <a href="/logout" onClick="alert('로그아웃 되었습니다');">
                            <i class="fas fa-cog"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <img src="/images/icon/herren_logo.png" alt="HerrenLogo"
                 width="50px" height="50px"/>
            <h3><a href="/lobby/">&nbsp;Herren</a></h3>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li>
                        <a href="/boards/anony/">
                            <i class="fas fa-users"></i>익명 게시판</a>
                    </li>
                    <li>
                        <a href="/boards/notice/">
                            <i class="fas fa-bullhorn"></i>공지 게시판</a>
                    </li>
                    <li>
                        <a href="http://www.hulam.co.kr/hulam/">
                            <i class="fas fa-calendar"></i>연차/휴가 관리</a>
                    </li>
                    <li>
                        <a href="/logout" onClick="alert('로그아웃 되었습니다');">
                            <i class="fas fa-cog"></i>Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->