{{> layout/header}}
<style>
    #page-title-text {
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .col-lg-8 {
        padding-left: 10%;
    }

    #content {
        background-color: white;
    }
</style>
{{> layout/sidebar}}

<div class="page-container">
    <div class="main-container">
        <div class="section__content section__content--p30">
            <div class="row">
                <div class="col-lg-8">
                    <div id="page-title-text">
                        <h1>Herren Anonymous Board</h1>
                        <hr>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong>공지게시판 </strong> 글 보기
                            <input type="hidden" id="board-kind" value="notice">
                            <input type="hidden" id="mod-del-type-save">
                        </div>
                        <div class="card-body card-block">
                            <!--목록 출력 영역 -->
                            <div class="row form-group">
                                <div class="col col-lg-2">
                                    <label class=" form-control-label">글 번호</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    {{boardDetail.boardNo}}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-lg-2">
                                    <label class=" form-control-label">작성자</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    관리자
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-lg-2">
                                    <label class=" form-control-label">글 제목</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    {{boardDetail.title}}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-lg-2">
                                    <label class=" form-control-label">카테고리</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    {{boardDetail.category}}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-lg-2">
                                    <label for="content" class="form-control-label">내용</label>
                                </div>
                                <div class="col-12 col-md-9">
                                <textarea name="textarea-disabled-input" id="content" rows="15" placeholder="내용을 작성해주세요"
                                          class="form-control" disabled>{{boardDetail.content}}</textarea>
                                </div>
                            </div>
                            <!-- 목록출력 영역 END -->
                        </div>
                        <div class="card-footer">
                            <input type="hidden" id="board-no" value="{{boardDetail.boardNo}}">
                            <button type="button" class="btn btn-primary btn-sm"
                                    onclick="$('#mod-del-type-save').val('mod');checkGrade('{{grade}}');">
                                <i class="fa fa-dot-circle-o"></i>글 수정
                            </button>
                            <button type="button" class="btn btn-danger btn-sm"
                                    onclick="$('#mod-del-type-save').val('del');checkGrade('{{grade}}');"><i class="fa fa-ban"></i>글 삭제
                            </button>
                            <button type="button" class="btn btn-success btn-sm" onclick="location.href='/lobby'"><i class="fa fa-home"></i>홈</button>
                            <button type="button" class="btn btn-success btn-sm" onclick="location.href='/boards/notice'"><i class="fa fa-arrow-left"></i>뒤로가기</button>
                            <label style="float: right;">최종 수정일 {{boardDetail.moddate}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function checkGrade(grade){
        if(grade === '사장'|| grade === '관리자'){
            if($('#mod-del-type-save').val() === 'mod'){
                location.href='/boards/notice/'+'{{boardDetail.boardNo}}'+'/editor';
            }else {
                onclickDelPost('{{boardDetail.boardNo}}', '{{grade}}');
            }
        }else{
            alert('권한이 없습니다');
            return location.href='/boards/notice';
        }
    }
</script>
<script src="/js/app/delete.js"></script>
<script src="/js/app/check-passwd.js"></script>

{{> layout/footer}}
</body>
</html>