<script>
    $(document).ready(function () {
        var pageLastNum = Number('{{pageLastNum}}');
        var pageRange = 3;
        var startPage = Math.floor('{{pageNo}}' / pageRange);
        var hText = '';
        var boardKind = $('#board-kind');

        if (startPage < 1) {
            for (var i = 0; i < pageRange; i++) {
                pageBtnList(i, boardKind);
                if (i === pageRange - 1 && i < pageLastNum) {
                    nextBtn(i, boardKind);
                }
            }
        } else if (startPage * pageRange + pageRange < pageLastNum) {
            for (var j = startPage * pageRange; j < startPage * pageRange + pageRange; j++) {
                if (j === startPage * pageRange) {
                    prevBtn(j, boardKind)
                }
                pageBtnList(j, boardKind);
                if (j === startPage * pageRange + pageRange - 1) {
                    nextBtn(j, boardKind);
                }
            }
        } else {
            for (var k = startPage * pageRange; k < pageLastNum; k++) {
                if (k === startPage * pageRange) {
                    prevBtn(k, boardKind)
                }
                pageBtnList(k, boardKind);
            }
        }

        $('#btn-page').append(hText);

        function pageBtnList(i, boardName) {
            if (i === Number('{{pageNo}}')) {
                hText += '<button type="button" class="btn btn-primary" \n' +
                    '                            onclick="location.href=\'/boards/' + boardName + '?pageNo=' + i + '\'">' + (i + 1) + '</button>';
            } else {
                hText += '<button type="button" class="btn btn-success" \n' +
                    '                            onclick="location.href=\'/boards/' + boardName + '?pageNo=' + i + '\'">' + (i + 1) + '</button>';
            }
            return hText;
        }

        function prevBtn(i, boardName) {
            hText += '<button type="button" class="btn btn-success" \n' +
                '                            onclick="location.href=\'/boards/' + boardName + '?pageNo=' + (i - 1) + '\'">이전</button>';
            return hText;
        }

        function nextBtn(i, boardName) {
            hText += '<button type="button" class="btn btn-success" \n' +
                '                            onclick="location.href=\'/boards/' + boardName + '?pageNo=' + (i + 1) + '\'">다음</button>';
            return hText;
        }
    });
</script>