{{> layout/header}}
<style>
    #page-title-text {
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .col-lg-8 {
        padding-left: 10%;
        padding-bottom: 10%;
    }

    @media (max-width: 991px) {
        .col-lg-8 {
            padding-left: 0;
            padding-bottom: 20%;
            padding-top: 0;
        }

        h1 {
            margin-left: 10%;
        }

        #page-title-text {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    #content {
        background-color: white;
    }

    .modal-dialog {
        max-width: 500px;
        margin: 15% auto;
    }

    .card-footer {
        margin-top: 120px;
        padding-bottom: 10px;
    }

    .final-moddate-text {
        float: right;
        padding-top: 7px;
    }

    .thumb-up {
        position: absolute;
        padding-left: 45%;
    }

    .thumb-up-img {
        padding-bottom: 0;
        opacity: 1;
        display: block;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .thumb-up-img:hover {
        opacity: 0.3;
    }

    div.like-count {
        text-align: center;
    }

</style>
{{> layout/sidebar}}

<div class="page-container">
    <div class="main-container">
        <div class="section__content section__content--p30">
            <div class="row">
                <div class="col-lg-8">
                    <div id="page-title-text">
                        <h1>Herren Anonymous Board</h1>
                        <hr>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong>익명게시판 </strong> 글 보기
                            {{#each boardLikeList}}
                            {{userNo}}
                            {{/each}}
                            <input type="hidden" id="board-kind" value="anony">
                        </div>
                        <div class="card-body card-block">
                            <!--목록 출력 영역 -->
                            <div class="row form-group">
                                <div class="col col-lg-2">
                                    <label class=" form-control-label">글 번호</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    {{boardDetail.boardNo}}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-lg-2">
                                    <label class=" form-control-label">작성자</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    {{boardDetail.writer}}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-lg-2">
                                    <label class=" form-control-label">글 제목</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    {{boardDetail.title}}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-lg-2">
                                    <label class=" form-control-label">카테고리</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    {{boardDetail.category}}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-lg-2">
                                    <label for="content" class="form-control-label">내용</label>
                                </div>
                                <div class="col-12 col-md-9">
                                <textarea name="textarea-disabled-input" id="content" rows="15" placeholder="내용을 작성해주세요"
                                          class="form-control" disabled>{{boardDetail.content}}</textarea>
                                </div>

                            </div>
                            <div class="row form-group">
                                <div class="thumb-up">
                                    <img src="/images/thumb-up.png" alt="like"
                                         class="thumb-up-img " style="padding-bottom: 10px;"
                                         onclick="onclickPlusLike('{{ssId}}')"/>
                                    <div class="like-text">이 글을 추천</div>
                                    <div class="like-count"><b id="like" style="color:#548cfc;">{{boardDetail.hit}}</b></div>
                                </div>
                            </div>
                            <!-- 목록출력 영역 END -->
                        </div>
                        <div class="card-footer">

                            <div class="buttons">
                                <input type="hidden" id="board-no" value="{{boardDetail.boardNo}}">
                                <input type="hidden" id="mod-del-type-save">

                                <button type="button" class="btn btn-success btn-sm"
                                        onclick="window.location.href='/lobby'"><i class="fa fa-home"></i>홈
                                </button>
                                <button type="button" class="btn btn-success btn-sm"
                                        onclick="location.href='/boards/anony'"><i class="fa fa-arrow-left"></i>목록으로
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#checkpwd-modal"
                                        onclick="$('#mod-del-type-save').val('mod')">
                                    <i class="fa fa-dot-circle-o"></i>글 수정
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                        data-target="#checkpwd-modal"
                                        onclick="$('#mod-del-type-save').val('del')"><i class="fa fa-ban"></i>글 삭제
                                </button>
                                <div class="final-moddate-text">
                                    <small><label style="float: right; margin-bottom: 0">최종 수정일
                                        {{boardDetail.moddate}}</label></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mod modal area -->
<div class="modal fade" id="checkpwd-modal" tabindex="-1" role="dialog" aria-labelledby="checkpwd-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkpwd-modal-label">글 비밀번호</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    글 비밀번호를 입력해주세요.
                </p>
                <div class="col-12 col-md-9">
                    <input type="text" class="form-control" id="passwd">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btn-check-pwd">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- end mod modal -->
<script src="/js/app/delete.js"></script>
<script src="/js/app/check-passwd.js"></script>
{{> layout/footer}}
<script>
    function onclickPlusLike(ssId) {
        $.ajax({
            type: 'POST',
            url: '/boards/anony/' + $('#board-no').val() + '/like',
            data: {
                id: ssId
            },
            success: function (data) {
                alert('추천되었습니다.');
                $('#like').text('').text(data);
            }
        });
    }
</script>
</body>
</html>