{{> layout/header}}
<head>
    <title>Herren Anonyboard</title>
    <style>
        .col-lg-12 {
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 7vh;
        }

        .top-campaign {
            padding-bottom: 50px;
        }

        .chart-percent-2 {
            margin-bottom: 0;
            padding-bottom: 50px;
        }

        .campaign-small-text {
            float: right;
            padding-top: 17px;
        }
    </style>
    <script>
        $(function () {
            var ctx = document.getElementById("login-count-chart");
            if (ctx) {
                ctx.height = 220;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: {{loginHistoriesDateTimeList}},
                        datasets: [
                            {
                                label: "방문자 수",
                                data: {{loginHistoriesCountList}},
                                borderColor: "transparent",
                                borderWidth: "0",
                                backgroundColor: "#28a745",
                            }
                        ]
                    },
                    options: {
                        maintainAspectRatio: true,
                        legend: {
                            display: false
                        },
                        scales: {
                            xAxes: [{
                                display: false,
                                categoryPercentage: 1,
                                barPercentage: 0.6
                            }],
                            yAxes: [{
                                display: false
                            }]
                        }
                    }
                });
            }

            // Percent Chart
            var ctxCircleChart = document.getElementById("category-chart");
            if (ctxCircleChart) {
                ctxCircleChart.height = 250;
                var myChart = new Chart(ctxCircleChart, {
                    type: 'doughnut',
                    data: {
                        datasets: [
                            {
                                label: "카테고리 차트",
                                data: {{{AnonyBoardsCategoryCountList}}},
                                backgroundColor: [
                                    '#00b5e9',
                                    '#fa4251',
                                    '#00ad5f',
                                    '#ffc107',
                                    '#6c757d'
                                ],
                                hoverBackgroundColor: [
                                    '#00b5e9',
                                    '#fa4251',
                                    '#00ad5f',
                                    '#ffc107',
                                    '#6c757d'
                                ],
                                borderWidth: [
                                    0, 0, 0,0,0
                                ],
                                hoverBorderColor: [
                                    'transparent',
                                    'transparent',
                                    'transparent',
                                    'transparent',
                                    'transparent'
                                ]
                            }
                        ],
                        labels: {{{AnonyBoardsCategoryList}}}
                    },
                    options: {
                        maintainAspectRatio: false,
                        responsive: true,
                        cutoutPercentage: 55,
                        animation: {
                            animateScale: true,
                            animateRotate: true
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            titleFontFamily: "Poppins",
                            xPadding: 15,
                            yPadding: 10,
                            caretPadding: 0,
                            bodyFontSize: 16
                        }
                    }
                });
            }


        });

    </script>
</head>
{{> layout/sidebar}}
<div class="page-container">
    <div class="section__content section__content--p30">
        <!-- STATISTIC-->
        <section class="statistic statistic2">
            <div class="container">
                <h1>Herren Anonymous Board</h1>
                <input type="hidden" id="login-count" value="{{loginCount}}">
                <hr>
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--green" onclick="location.href='/boards/anony'">
                            <h2 class="number">{{todaysNewAnonyPostCount}}</h2>
                            <span class="desc">오늘 등록된 게시글</span>
                            <div class="icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--orange "onclick="location.href='/boards/notice'">
                            <h2 class="number">{{thisWeekRegAnonyPostCount}}</h2>
                            <span class="desc">이번주에 등록된 공지</span>
                            <div class="icon">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--blue" onclick="location.href='/boards/notice'">
                            <h2 class="number">{{noticeBoardTotalCount}}</h2>
                            <span class="desc">총 공지게시글</span>
                            <div class="icon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item statistic__item--red" onclick="location.href='/boards/anony'">
                            <h2 class="number">{{anonyBoardTotalCount}}</h2>
                            <span class="desc">총 익명게시글</span>
                            <div class="icon">
                                <i class="zmdi zmdi-money"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END STATISTIC-->

        <!-- STATISTIC CHART-->
        <section class="statistic-chart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title-5 m-b-35">statistics</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <!-- CHART-->
                        <div class="statistic-chart-1">
                            <h3 class="title-3 m-b-30">방문자 수</h3>
                            <div class="chart-wrap">
                                <canvas id="login-count-chart"></canvas>
                            </div>
                            <div class="statistic-chart-1-note">
                                <span class="big">10</span>
                                <span>/ 162</span>
                            </div>
                        </div>
                        <!-- END CHART-->
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <!-- TOP CAMPAIGN-->
                        <div class="top-campaign">
                            <h3 class="title-3 m-b-30">이번주 TOP 5</h3>
                            <div class="table-responsive">
                                <table class="table table-top-campaign">
                                    <tbody>
                                    {{#each anonyBoardListLikeTop5}}
                                    <tr onclick="location.href='/boards/anony/{{boardNo}}'">
                                        <td>{{boardNo}}.&nbsp;{{title}}</td>
                                        <td class="text-right">{{hit}}</td>
                                    </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <!--<small class="campaign-small-text">발송처리된 글은 추천리스트에서 사라집니다</small>-->
                        </div>

                        <!-- END TOP CAMPAIGN-->
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <!-- CHART PERCENT-->
                        <div class="chart-percent-2">
                            <h3 class="title-3 m-b-30">카테고리</h3>
                            <div class="chart-wrap">
                                <canvas id="category-chart"></canvas>
                                <div id="chartjs-tooltip">
                                    <table></table>
                                </div>
                            </div>
                        </div>
                        <!-- END CHART PERCENT-->
                    </div>
                </div>
            </div>
        </section>
        <!-- END STATISTIC CHART-->

        <!-- START BOARD TABLE-->
        <div class="container">
            <h3 class="title-5 m-b-35"><b>공지 게시판</b></h3>
            <div class="col-lg-12">
                <div class="table-responsive table--no-card m-b-30">
                    <!-- 목록 출력 영역 -->
                    <table class="table table-borderless table-striped table-earning" id="board-table">
                        <thead class="thead-strong">
                        <tr>
                            <th>게시글번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th class="text-right">추천</th>
                            <th class="text-right">최종수정일</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        {{#each boardList}}
                        <tr onclick="location.href='/boards/notice/{{boardNo}}'">
                            <td>{{boardNo}}</td>
                            <td width="40%">{{title}}</td>
                            <td>{{writer}}</td>
                            <td class="text-right">0</td>
                            <td class="text-right">{{moddate}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END BOARD TABLE-->
    </div>
</div>
</div>

{{> layout/footer}}
</body>
</html>
