<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Anonymous Board</title>
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/cover.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        body {
            color: #fff;
            background-color: #3a3a3a;
        }
    </style>
</head>

<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Anonymous Board</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link active" href="https://www.herrencorp.com/">Herren</a>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Anonymous Board</h1>
                <p class="lead">
                당신의 요청사항을 기재하세요. 철저한 익명이 보장됩니다!
                <p class="lead">
                No Id, No Data
                <p class="lead">
                    <a href="/lobby" class="btn btn-lg btn-secondary">게시판으로</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Template for Bootstrap, by @mdo.</p>
                    <p>Develop by seha.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>